@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #f5f5f5 !important;
    color: #000;
}

html, body {
  touch-action: manipulation;
  user-select: none;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

/* index.css 或 App.css */
.goog-te-banner-frame.skiptranslate,
body > .goog-te-banner-frame,
.goog-logo-link,
.goog-te-gadget {
  display: none !important;
  visibility: hidden !important;
}
.skiptranslate {
    display: none !important;
    visibility: hidden !important;
}
body {
  top: 0px !important;
}
#google_translate_element {
  display: none !important;
}
.VIpgJd-ZVi9od-aZ2wEe-wOHMyf.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
  display: none !important;
}

@keyframes scroll_top {
    0%,
    to {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }
}
